div{
    /*对于非块状元素，如果不设置这个，那么宽和高的设置就会没用*/
    display: block;
}
body{
    background-color: #10161D;
    padding: 40px 60px;
    font-family: sans-serif;
}
 .trade-type-item{
    background-color: rgba(61,86,111,0.4);
    height: 32px;
    width: 300px;
    display: flex;/*用于将整个块元素填满*/
     align-items: center;/*垂直布局：居中 */
     justify-content: center;/* 水平布局：居中 */
     border-radius: 4px; 
     margin-bottom: 24px;/*相对于该块外的元素 */
} 
.btn-trade.active{
    color: #19232E;
    border: 1px solid rgba(255,255,255,0);
    background-color: #E9EEF3;
    border-radius: 4px;;
}
.btn-trade{
    width: 140px;
    padding: 5px 18px;
    text-align: center;
    font-size:12px;
    color: #80AFF8;
    cursor: pointer;
    box-sizing: border-box; /*盒子的边框和内边距包括在width和height中*/
}
.btn-trade-traditional{
    display: flex;
    /* align-items: flex-end; */
}
.trade-input-items{
    display: flex;
    flex-wrap: wrap;/*自动换行*/
}
.trade-input-item{
    /* display: flex;
    padding-right: 25px; */
    margin-right: 20px;
    margin-bottom: 10px;
}
.trade-input-title{
    font-size: 12px;
    color: #09E2EA;
}
.trade-input-title-nlp {
    font-size: 20px;
    color: #09E2EA;
}
.trade-input{
    box-sizing: border-box;
    height: 32px;
    width: 160px;
    color: white;
    border: 1px solid #46637F;
    border-radius: 4px;
    background-color: #17202A;
}
.trade-submit-btns{
    display: flex;
}
.trade-btn{
    width: 80px;
    height: 32px;
    color: black;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 15px;
}
.trade-buy{
    background-color: #008755;
}
.trade-sell{
    background-color: #FFCC00E0;
}
.separate-line{
    height: 1px;
    margin: 20px 0 30px 0;
    border-top: 1px solid #2B3D4E;
}
.fre-group{
    background-color: rgba(61,86,111,0.4);
    height: 32px;
    width: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 24px;
}
.fre-item.active{
    color: #19232E;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 4px;
    background-color: #E9EEF3;
}
.fre-item{
    display: inline-block;
    width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #80AFF8;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
/*定义竖线*/
.fre-item::before{
    content: '';/*content属性必须填写，可设置为空*/
    position: absolute; /*position一般配合left、right、top、bottom使用,用来表示相对于外div的绝对位置*/
    left: 0;
    top: 4px;
    box-sizing: border-box;
    height: 16px;
    border: 1px solid #34495F;
}
.data-table{
    background-color: #17202A;
}
table{
    border-collapse: collapse;/*两条边框合并为1条*/
    color: #D9E2EA;
    font-size: 12px;
}
th{
    background-color: #2B3D4E;
    font-weight: bold;
}
td,th{
    border: 1px solid #46637F;
    text-align: left;
    width: 150px;
    height: 37px;
    padding: 8px;
    box-sizing: border-box;
}
.data-summary{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 36px;
    font-size: 14px;
    color: black;
}
.summary-items{
    color: #D9E2EA;
    font-size: 12px;

}
.total-buy{
    color: #00EA6C;
    padding-left: 20px;
}
label{
    cursor: default;
}
.total-sell{
    color: #FF7A75;
    padding-left: 20px;
}
.net-quantity{
    color: #97AFC6;
    padding-left: 20px;
}
.net-notional{
    color: #97AFC6;
    padding-left: 20px;
}
.total-buy-notional{
    color: #00EA6C;
    padding-left: 20px;
}
.total-sell-national{
    color: #FF7A75;
    padding-left: 20px;
}