::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #131a22;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #131a22;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #131a22;
}

body {
  background-color: #131a22;
  color: #dbdcdd;
}

input {
  border: 1px solid #3f5972;
  border-radius: 3px;
  background-color: #131a22;
  width: 120px;
  height: 20px;
  color: aliceblue;
  font-size: 12px;
}

.block {
  width: 140px;
  height: 50px;
  display: inline-block;
  font-size: 12px;
}

.icon {
  margin-right: 2px;
}

.chart {
  position: relative;
  top: 30px;
  margin: auto;
  width: 95%;
  height: 400px;
  padding-bottom: 50px;
}

hr{
  background-color: #3f5972;
  width: 95%;
  border-color:  #131a22;
}
